body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #aeb5c6;
}

.navbar .logo img {
    position: absolute;
    top: 5%;
    left: 0;
    width: 70px;
    height: 70px;
}

.navbar .container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .container a{
    font-size: larger;
    color: black;
    font-weight: bold;
    text-decoration:none;
}

.container a:hover{
    color: #092f94;
    transition: transform 0.5s;
    transform: scale(1.2);
}

.container-slide {
    display: flex;
    gap: 20px;
    height: 550px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.container-slide .conteudo {
    display: flex;
    scroll-snap-align: center;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-shrink: 0;
    width: 100%;
    text-align: justify;
}

.container-slide h1 {
    text-align: center;
}

.container-slide .texto {
    z-index: 1;
    font-size: 20px;
}

.container-slide img {
    padding-top: 20px;
    width: 350px;
    height: 300px;
    transform: scale(2);
}
