* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/*Estilização do Header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #0E2A71;
    transition: background-color 0.3s;
    z-index: 10;
}

header.scrolled {
    background-color: whitesmoke;
    box-shadow:  0 4px 20px rgba(0, 0, 0, 0.5);
}

header.scrolled .container .navbar .opcoes .opcao{
    color: black;
}


header .container {
    padding-left: 1%;
    padding-right: 2%;
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header .container .navbar .logo {
    width: 50px;
    height: 50px;
    background-image: url(imagens-sobre-nos/E.png);
    background-size: cover;
}

header.scrolled .container .navbar .logo {
    width: 50px;
    height: 50px;
    background-image: url(imagens-sobre-nos/es.png);
    background-size: cover;
}

.container .navbar {
    display: flex;
    width: 1000px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    min-width: 450px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.opcao{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
}

.container .botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    min-width: 220px;
}

.botoes button {
    width: 100px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    color:  black;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.5s ease;
}

.botoes button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
/*Fim da estilização do Header*/


/*Começo da estilização da tela dos nossos serviços*/
.servicos {
    width: 100%;
    height: 600px;
    font-size: 30px;
    background-size: cover;
    background-position: center;
    background-color: #0E2A71;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    height: 500px;
}

.servicos .mensagem-servicos {
    height: 80%;
    width: 70%;
    padding-top: 5%;
}

.servicos .mensagem-servicos h2 {
    margin-bottom: 20px;
    color: #a4bcfc;
    text-align: center;
}

.servicos .mensagem-servicos span{
    color: #fff;
    text-align: justify;
}

.monitoramento, .alerta{
    width: 100%;
    height: 600px;
    font-size: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.relatorio, .suporte{
    width: 100%;
    height: 600px;
    font-size: 30px;
    background-color: #0E2A71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monitoramento, .alerta h2{
    color: #0E2A71;
}
.monitoramento .monitoramento-texto span,
.alerta .alerta-texto span{
    color: #000;
}


.relatorio, .suporte h2{
    color: #a4bcfc
}

.relatorio .relatorio-texto span,
.suporte .suporte-texto span
{
    color: #fff;    
}

.monitoramento .monitoramento-texto,
.relatorio .relatorio-texto,
.alerta .alerta-texto,
.suporte .suporte-texto{
    height: 50%;
    width: 50%;
}




/*Começo da estilização do footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0E2A71, #000000);
    background-size: cover;
    width: 100%;
    height: 300px;
}



.footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    font-size: 24px;
    
    color: #f5f5f5;

}

.footer .container .caixa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;

    height: 100px;
    span {
        font-size: 24px;
        font-weight: bold;
        color: #f5f5f5;
    }

    a {
        font-size: 18px;
        color: #EEEEEE;
    }

    .icones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.footer .container .caixa1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    height: 70px;
    span {
        font-size: 24px;
        font-weight: bold;
        color: #EEEEEE;
    }

    a {
        font-size: 18px;
        color: #EEEEEE;
    }

    .icones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}