@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Fredoka";
    background-image: url('../simuladorEnviroSense/images/image copy.png');
}

.header {
    display: flex;
    background-color: rgb(197, 255, 197);
    width: 100%;
    height: 70px;
    box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.2);
}

.header .container {
    padding-left: 40px;
    padding-right: 60px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header .container img {
    width: 70px;
    height: 70px;
}

.container .navbar {
    display: flex;
    width: 600px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100%;
    color: #35b341;
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}

.container .opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    color: #35b341;
    font-size: 18px;
}

.opcao{
    display: inline-block;
    transition: transform 0.5s ease;
}

.opcao:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.container .botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 100%;
}

.botoes button {
    width: 100px;
    height: 30px;
    border: 0px solid;
    border-radius: 15px;
    background-color: #35b341;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

.botoes button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #35b341;
    bottom: 0;
    position: fixed;
}


.dados{
    background-color: #35b341;
    width: 50%;
    height: 500px;
    padding: 15px;
    margin: 125px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #d7d713;
    border: 0.8px solid rgb(18, 21, 23);
}

h2{
    margin-bottom: 0;
}

#content1, #content2, #content3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}

#content4{
    text-align: center;
    margin-top: 15px;
}


#input_tinta, #input_primer, #input_area_carroceria, #input_num_carroceria{
    width: 45%;
    border-radius: 10px;
    font-size: 150%;
    color: #6CCE6F;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


#titulo{
    font-size: 24px;
    font-weight: bolder;
}

label{
    font-size: 20px;
    font-weight: bold;
}

#tipo_de_veiculo {
    width: 45%;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 100%;
    height: 30px;
}

.botao button{
    width: 100px;
    height: 35px;
    border: 0px solid;
    border-radius: 15px;
    background-color: white;
    color: #1fab1f;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
    margin-top: 5px;
    cursor: pointer;
}


 .botao :hover {
    transform: scale(1.3);
}


.hidden{
    display: none;
}

#resultados {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color:  #35b341;
    width: 50%;
    height: 550px;
    padding: 15px;
    margin: 125px auto;
    border: 0.8px solid rgb(18, 21, 23);
    border-radius: 15px;
    box-shadow: 1px 1px 1px #040404;
    font-size: 18px;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 5px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}


p{
    font-size: 20px;
    color: #100385;
    font-weight: bolder;
    transition: transform 1.s ease;
    margin-bottom: 0;
}

.opcao a{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    font-style: italic;
    transition: transform 0.3s ease;
}

.opcao :hover {
    transform: scale(1.0);
    cursor: pointer;
}