.login .conteudo span{
    font-size: 20px;
    font-weight: bold;
}

.login .caixa-login .botao {
    width: 150px;
    height: 30px;
    border: 0px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 6px rgba(0, 255, 0, 0.14);
    background-color: #35b341;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Fredoka";
    transition: transform 0.5s ease;
}

.login .conteudo .botao:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.login {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('../images/background-home-welcome.png')  no-repeat center center / cover;
    filter: blur(5px); /* Aplica desfoque */
    transform: scale(1.1); /* Para garantir que o desfoque cubra toda a área */
    z-index: -1; /* Coloca atrás de todo o conteúdo */
}


.login .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Garante que o conteúdo fique acima do fundo */
    z-index: 1;
}


.login .caixa-login {
        height: 400px;
        width: 600px;
        color: #35b341;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


.login .caixa-login h2 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: bold;
    margin-top: -80px;
}

.login .conteudo {
    margin-top: 0;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.login .campo_login input {
    width: 500px;
    height: 30px;
    border: 2px solid #dce6dd;
    box-shadow: 0px 0px 6px 6px rgba(229, 241, 229, 0.14);
    border-radius: 10px;
    text-align: center;
}

.campo_senha .input-container {
    position: relative;
    width: 500px;
}

.campo_senha input {
    width: 100%;
    height: 30px;
    padding-right: 0px;
    border: 2px solid #dce6dd;
    box-shadow: 0px 6px 6px 6px rgba(229, 241, 229, 0.14);
    border-radius: 10px;
    text-align: center;
}

.campo_senha i {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #35b341;
}

.login .campo_imagens{
    text-align: center;
}
