@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Fredoka";
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('../images/background-home-welcome.png')  no-repeat center center / cover;
}

html {
    scroll-behavior: smooth;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 10;
}

.header .container {
    padding-left: 30px;
    padding-right: 60px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header .container img {
    width: 88px;
    height: 80px;
}

.container .navbar {
    display: flex;
    width: 650px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    min-width: 450px;
    color: #228833;
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.opcao{
    display: inline-block;
    transition: transform 0.5s ease;
    text-decoration: none;
    color: #228833;
}

.opcao:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.container .botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    min-width: 220px;
}

.botoes button {
    width: 100px;
    height: 30px;
    border: 0px solid;
    border-radius: 15px;
    background-color: #228833;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Fredoka";
    transition: transform 0.5s ease;
}

.botoes button:hover {
    transform: scale(1.2);
    cursor: pointer;
}



.login .conteudo span{
    font-size: 40px;
    font-weight: bold;
}

.login  .botao {
    width: 440px;
    height: 45px;
    background-color: #35b341;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: 21.5px;
}


.login .conteudo .botao:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.login {
    width: 100%;
    height: 873px;
    position: relative;
    overflow: hidden;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 873px;
    filter: blur(5px); /* Aplica desfoque */
    transform: scale(1.1); /* Para garantir que o desfoque cubra toda a área */
    z-index: -1; /* Coloca atrás de todo o conteúdo */
}


.login .container {
    width: 100%;
    height: 873px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Garante que o conteúdo fique acima do fundo */
    z-index: 1;
}


.login .caixa-login {
        height: 600px;
        width: 600px;
        color: #35b341;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


.login .caixa-login h2 {
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bold;
    margin-top: -80px;
}

.login .conteudo {
    margin-top: 0;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.login .campo_login {
    margin-top: 20px;
}

.login .campo_senha {
    margin-top: 20px;
}

.login .campo_imagens{
    text-align: center;
    width: 450px;
    height: 300px;
    font-size: 25px;
}

.login .campo_captcha{
    margin-top: 20px;
    font-size: 25px;
}


.login .campo_login input {
    width: 440px;
    height: 40px;
    border: 2px solid #dce6dd;
    box-shadow: 0px 0px 6px 6px rgba(229, 241, 229, 0.14);
    border-radius: 10px;
    text-align: center;
}

.login .campo_senha .input-container {
    position: relative;
}

.campo_senha input {
    width: 440px;
    height: 40px;
    padding-right: 0px;
    border: 2px solid #dce6dd;
    box-shadow: 0px 6px 6px 6px rgba(229, 241, 229, 0.14);
    border-radius: 10px;
    text-align: center;
}


.campo_senha i {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #35b341;
}

.login .container .caixa-login .conteudo .campo_login span{
    font-size: 20px;
}
.login .container .caixa-login .conteudo .campo_senha span{
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #228833;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1a6b29;
}

::-webkit-scrollbar-thumb:active {
    background-color: #14521e;
}


