@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: "Fredoka";
}

.header {
    display: flex;
    background-color: rgb(197, 255, 197);
    width: 100%;
    height: 70px;
    box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.2);
}

.header .container {
    padding-left: 40px;
    padding-right: 60px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header .container img {
    width: 70px;
    height: 70px;
}

.container .navbar {
    display: flex;
    width: 600px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100%;
    color: #35b341;
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}

.container .opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    color: #35b341;
    font-size: 18px;
}

.opcao{
    display: inline-block;
    transition: transform 0.5s ease;
}

.opcao:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.container .botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 100%;
}

.botoes button {
    width: 100px;
    height: 30px;
    border: 0px solid;
    border-radius: 15px;
    background-color: #35b341;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

.botoes button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #35b341;
}