body{
    background-color: rgb(123, 123, 207);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}
.container{
    background-color: #fff;
    width: 700px;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px 10px;
}

#input_qtd_tintas_mes{
    margin-top: 5px;
    width: 105px;
}

#input_qtd_primer_mes{
    margin-top: 3px;
    margin-bottom: 5px;
    width: 100px;
}


#input_num_carroceria{
    margin-top: 3px;
    width: 100px;
}

#input_area_carroceria{
    margin-top: 3px;
    width: 100px;
}

.container:hover{
    background-color: rgb(234, 243, 242);
}

.btn{
    margin-top: 10px;
    height: 50px;
    width: 175px;
    background-color: black;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 250px;
}

.btn:hover{
    background-color: rgb(46, 224, 46);
}